<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>uploca page.</title>
<style>
.upload-file {
	
}

.upload-file:after {
	content: "\A";
	background: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0%;
}

/*
	파일 목록
*/
div.file {
        margin: 5px;
        border: 1px solid #ccc;
        width: 180px;
        display: inline-block;
        vertical-align: top;
    }
    
    div.file:hover {
        border: 1px solid #777;
    }
    
    div.file img {
        width: 100%;
        height: auto;
    }
    
    div.filename {
        padding: 15px;
        text-align: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
}
    
    
    
</style>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<script type="text/javascript">

//업로드 시작
//================================================
function uploadFile(file, obj){

	var data = new FormData();
    var filename = file.name;
    var ul = $('#filezone > ul');
    var li = document.createElement('li');
    var progress = document.createElement('progress');
    var input = document.createElement('input');
    var label = document.createElement('label');
    label.innerText = filename;
    input.setAttribute("type", "checkbox");
    input.setAttribute("name", "file");  
    li.append(input);
    li.append(label);
    li.append(progress);
    ul.prepend(li);
    
    var token_csrf = $("meta[name='_csrf']").attr("content");
    var header_csrf = $("meta[name='_csrf_header']").attr("content");
 
    var req = new XMLHttpRequest();
    data.set('file', file);
    req.open('post', '/upload');
    req.setRequestHeader(header_csrf, token_csrf);
    req.onreadystatechange = function (aEvt) {
    	  if (req.readyState === 4) {
    	     if(req.status === 200)
    	    	 progress.remove();
    	     else
    	      console.log("error"+filename);
    	  }
    	};
    req.send(data);
    
}

//파일 멀티 업로드
function F_FileMultiUpload(files, obj) {
   if(confirm(files.length + "개의 파일을 업로드 하시겠습니까?") ) {
	   for (var i = 0; i < files.length; i++) {
		   uploadFile(files[i], obj);
	   }
   }
}

//파일 멀티 업로드 Callback
function F_FileMultiUpload_Callback(files) {
   for(var i=0; i < files.length; i++)
       console.log(files[i].file_nm + " - " + files[i].file_size);
}


$(function () {
    var obj = $("#dropzone");

    obj.on('dragenter', function (e) {
         e.stopPropagation();
         e.preventDefault();
         $(this).css('border', '2px solid #5272A0');
    });

    obj.on('dragleave', function (e) {
         e.stopPropagation();
         e.preventDefault();
         $(this).css('border', '2px dotted #8296C2');
    });

    obj.on('dragover', function (e) {
         e.stopPropagation();
         e.preventDefault();
    });

    obj.on('drop', function (e) {
         e.preventDefault();
         $(this).css('border', '2px dotted #8296C2');

         var files = e.originalEvent.dataTransfer.files;
         if(files.length < 1)
              return;

         F_FileMultiUpload(files, obj);
    });

});

//업로드 끝
//================================================
	
//다운로드 시작
//================================================
	
//체크 목록
function CheckedObj_File(){
	var checked_obj_file = [];
	$("[name=file]").each(function() {
		if(!$(this).is(":checked")) return true;
		
		var element = {
			obj : $(this),
			filename : $(this).parent().text().trim()
		};
		checked_obj_file.push(element);
		
	});
	return checked_obj_file;
}

function downloadFile(obj_file){
    var filename = obj_file.filename;
    var obj = obj_file.obj;
    var req = new XMLHttpRequest();
    
    var token_csrf = $("meta[name='_csrf']").attr("content");
    var header_csrf = $("meta[name='_csrf_header']").attr("content");
    
    req.open('post', "/download");
    req.setRequestHeader(header_csrf, token_csrf);
    req.setRequestHeader("filename", filename);
    req.responseType = "blob";
    req.onreadystatechange = function (aEvt) {
    	  if (req.readyState === 4) {
    	     if(req.status === 200){
    	    	 var blob = new Blob([this.response], {type: 'application/octet-stream'});
    	         var downloadUrl = URL.createObjectURL(blob);
    	         var a = document.createElement("a");
    	         a.href = downloadUrl;
    	         a.download = filename;
    	         document.body.appendChild(a);
    	         a.click();
    	    	 obj.prop("checked", false);
    	    	 a.remove();
    	     }else{
    	    	 console.log("error : "+filename);
    	     }
    	  }
    	};
    req.send();
}

function download(){
	var download_list = CheckedObj_File();
	if(confirm(download_list.length + "개의 파일을 다운로드 하시겠습니까?") ) {
	   for (var i = 0; i < download_list.length; i++) {
		   downloadFile(download_list[i]);
	   }
   }
}
	
//다운로드 끝
//================================================

</script>
<style>
#dropzone {
	border: 2px dotted #3292A2;
	width: 90%;
	height: 50px;
	color: #92AAB0;
	text-align: center;
	font-size: 24px;
	padding-top: 12px;
	margin-top: 10px;
}

label+input[type="checkbox"]:checked {
	font-weight: bold;
}
</style>

</head>
<body>
	<div id="dropzone">
		<div id="dropzone-text">Drag &#38; Drop Files Here</div>
	</div>

	<div id="filezone">
		<button onclick="download()"> 다운로드 </button>
		<div>
			<div class="file" th:each="file:${fileList}">
				<!-- <img th:src="${file.img}" width="600" height="400"> -->
        		<img src="http://qnimate.com/wp-content/uploads/2014/03/images2.jpg" width="600" height="400">
    			<div class="filename">
    				<label th:inline="text">
						<input type="checkbox" name="file">
						[[${file}]] 
					</label>
    			</div>
    		</div>
		</div>
	</div>

</body>
</html>