@charset "UTF-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C""\201D""\2018""\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}



button,
input {
    line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: tweetdeckregular;
    src: url("https://ton.twimg.com/tweetdeck-web/web/assets/fonts/tweetdeck-regular-webfont.fb70a3d29f.woff2") format("woff2"), url("https://ton.twimg.com/tweetdeck-web/web/assets/fonts/tweetdeck-regular-webfont.4c11bb2464.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

html {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28578;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    color: #38444d
}

html .system-font-stack {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif;
    font-weight: 400
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace
}

body {
    height: 100%;
    background-color: #1da1f2;
    overflow: hidden
}

body:before {
    content: "";
    opacity: 0;
    background-image: radial-gradient(circle, #1da1f2, #1c2938);
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: .2s;
    animation-duration: .2s
}





.is-application-animating {
    transition: top .2s
}

::-moz-selection {
    background: #e1e8ed;
    color: #14171a;
    text-shadow: none
}

::selection {
    background: #e1e8ed;
    color: #14171a;
    text-shadow: none
}

a {
    color: #1da1f2;
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    color: #1da1f2;
    text-decoration: underline
}

p {
    margin: 0
}

dd,
dl,
li,
ol,
ul {
    padding: 0;
    margin: 0
}

ol,
ul {
    list-style: none
}

.dl,
.ol,
.ul {
    padding-left: 2em
}

.ul {
    list-style-type: disc
}

.ol {
    list-style-type: decimal
}

small {
    font-size: .8571rem
}

abbr[title] {
    border-bottom-width: 0
}

.application {
    min-width: 320px;
    overflow: hidden
}

.application,
body:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.pin-all,
.pin-right {
    position: absolute;
    right: 0
}

.app-header .search-input-control input .Icon,
.Button--large .Icon {
    vertical-align: -2px
}

.app-header .search-input-control input>.Icon--caretDown,
.Button--large>.Icon--caretDown {
    line-height: 25px;
    margin: 0 9px
}

.app-header .search-input-control input .Button-adornment,
.Button--large .Button-adornment,
.ButtonGroup--large .Button-adornment {
    line-height: 25px;
    margin: 0 9px
}

.app-header .search-input-control input,
.Button--large,
.ButtonGroup--large>.Button,
.ButtonGroup--large>.ButtonGroup>.Button,
.ButtonGroup--large>.ButtonGroup>button,
.ButtonGroup--large>.ButtonGroup>input[type=button],
.ButtonGroup--large>button,
.ButtonGroup--large>input[type=button] {
    padding: 9px 18px;
    border-radius: 45px;
    font-size: 18px;
    line-height: 25px
}

.app-header .search-input-control input .Icon,
.Button--large .Icon,
button .Icon--large {
    vertical-align: -4px
}

.pin-v {
    position: absolute;
    top: 0;
    bottom: 0
}

.app-header-inner {
    box-sizing: border-box;
    width: 200px;
    min-width: 50px;
    padding: 10px 10px 0
}

.is-condensed .tweet-button {
    line-height: 1em;
    text-align: center;
    width: 36px;
    padding: 0
}

.app-header.is-condensed .app-header-inner {
    width: 50px;
    padding: 10px 7px
}

.app-header.is-condensed .app-nav-logo-text,
.app-header.is-condensed .hide-condensed {
    display: none
}

.app-header.is-condensed .app-nav-link .icon-arrow-r-double {
    display: inline-block
}

.app-header.is-condensed .app-nav-link .icon-arrow-l-double,
.app-header.is-condensed .sprite-logo,
.app-header.is-condensed .tweet-button .label {
    display: none
}

.app-header.is-condensed .sprite-logo-badge {
    display: inline-block;
    opacity: 1
}

.app-header.is-condensed .invisible-in-contracted-header {
    display: none
}

.app-header.is-condensed .visible-in-contracted-header {
    display: flex !important
}

.app-header.is-condensed .app-search-form,
.app-search-in-popover {
    display: none
}

.app-header.is-condensed .app-search-fake,
.is-condensed .app-search-in-popover {
    display: block
}

.app-header .search-input-control input {
    padding: 4px 12px;
    padding-right: 30px;
    font-size: 14px
}

.app-header .search-input-clear-search,
.app-header .search-input-perform-search,
.app-header .search-input-spinner {
    right: 14px
}

.app-header .search-input-control .FormSelect input .Button-adornment,
.FormSelect .app-header .search-input-control input .Button-adornment,
.FormSelect .Button--large .Button-adornment {
    right: 19px
}

.app-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 200px;
    background-color: #1c2938;
    z-index: 200
}

.is-condensed .app-header {
    width: 50px
}

.app-header .search-input-control .FormSelect input,
.FormSelect .app-header .search-input-control input,
.FormSelect .Button--large {
    padding-right: 46px
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

.Button .Icon,
button .Icon,
input[type=button] .Icon {
    line-height: 1;
    vertical-align: -1px
}

.Button>.Icon--caretDown,
button>.Icon--caretDown,
input[type=button]>.Icon--caretDown {
    line-height: 22px;
    margin: 0 7px
}

.Button--small>.Icon--caretDown,
.Button--xsmall>.Icon--caretDown {
    line-height: 18px;
    margin: 0 6px
}



.Button>.Icon--caretDown,
button>.Icon--caretDown,
input[type=button]>.Icon--caretDown {
    float: right;
    margin-right: 0
}

.Button,
button,
input[type=button] {
    transition: box-shadow .15s ease-in-out
}

.Button:focus,
button:focus,
input[type=button]:focus {
    outline: none
}

.Button.btn-fav.s-favorited,
.Button.btn-fav.s-favorited:visited,
.Button.Button--primary,
.Button.Button--primary:visited,
.ButtonGroup--primary>.Button,
.ButtonGroup--primary>.Button:visited,
.ButtonGroup--primary>.ButtonGroup>.Button,
.ButtonGroup--primary>.ButtonGroup>.Button:visited,
.ButtonGroup--primary>.ButtonGroup>button,
.ButtonGroup--primary>.ButtonGroup>button:visited,
.ButtonGroup--primary>.ButtonGroup>input[type=button],
.ButtonGroup--primary>.ButtonGroup>input[type=button]:visited,
.ButtonGroup--primary>button,
.ButtonGroup--primary>button:visited,
.ButtonGroup--primary>input[type=button],
.ButtonGroup--primary>input[type=button]:visited,
.s-following .follow-btn:hover .Button.following-text,
.s-following .follow-btn:hover .Button.following-text:visited,
.s-following .follow-btn:hover button.following-text,
.s-following .follow-btn:hover button.following-text:visited,
.s-following .follow-btn:hover input[type=button].following-text,
.s-following .follow-btn:hover input[type=button].following-text:visited,
button.btn-fav.s-favorited,
button.btn-fav.s-favorited:visited,
button.Button--primary,
button.Button--primary:visited,
input.Button--primary[type=button],
input.Button--primary[type=button]:visited,
input[type=button].btn-fav.s-favorited,
input[type=button].btn-fav.s-favorited:visited {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff
}

.Button.btn-fav.s-favorited:focus,
.Button.Button--primary.is-focus,
.Button.Button--primary:focus,
.Button.is-focus.btn-fav.s-favorited,
.ButtonGroup--primary>.Button.is-focus,
.ButtonGroup--primary>.Button:focus,
.ButtonGroup--primary>.ButtonGroup>.Button.is-focus,
.ButtonGroup--primary>.ButtonGroup>.Button:focus,
.ButtonGroup--primary>.ButtonGroup>button.is-focus,
.ButtonGroup--primary>.ButtonGroup>button:focus,
.ButtonGroup--primary>.ButtonGroup>input.is-focus[type=button],
.ButtonGroup--primary>.ButtonGroup>input[type=button]:focus,
.ButtonGroup--primary>button.is-focus,
.ButtonGroup--primary>button:focus,
.ButtonGroup--primary>input.is-focus[type=button],
.ButtonGroup--primary>input[type=button]:focus,
.s-following .follow-btn:hover .Button.following-text:focus,
.s-following .follow-btn:hover .Button.is-focus.following-text,
.s-following .follow-btn:hover button.following-text:focus,
.s-following .follow-btn:hover button.is-focus.following-text,
.s-following .follow-btn:hover input.is-focus[type=button].following-text,
.s-following .follow-btn:hover input[type=button].following-text:focus,
button.btn-fav.s-favorited:focus,
button.Button--primary.is-focus,
button.Button--primary:focus,
button.is-focus.btn-fav.s-favorited,
input.Button--primary.is-focus[type=button],
input.Button--primary[type=button]:focus,
input.is-focus[type=button].btn-fav.s-favorited,
input[type=button].btn-fav.s-favorited:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
    background: #1da1f2;
    border-color: #1da1f2;
    color: #fff
}

.Button.btn-fav.s-favorited:hover,
.Button.Button--primary.is-hover,
.Button.Button--primary:hover,
.Button.is-hover.btn-fav.s-favorited,
.ButtonGroup--primary>.Button.is-hover,
.ButtonGroup--primary>.Button:hover,
.ButtonGroup--primary>.ButtonGroup>.Button.is-hover,
.ButtonGroup--primary>.ButtonGroup>.Button:hover,
.ButtonGroup--primary>.ButtonGroup>button.is-hover,
.ButtonGroup--primary>.ButtonGroup>button:hover,
.ButtonGroup--primary>.ButtonGroup>input.is-hover[type=button],
.ButtonGroup--primary>.ButtonGroup>input[type=button]:hover,
.ButtonGroup--primary>button.is-hover,
.ButtonGroup--primary>button:hover,
.ButtonGroup--primary>input.is-hover[type=button],
.ButtonGroup--primary>input[type=button]:hover,
.s-following .follow-btn:hover .Button.following-text:hover,
.s-following .follow-btn:hover .Button.is-hover.following-text,
.s-following .follow-btn:hover button.following-text:hover,
.s-following .follow-btn:hover button.is-hover.following-text,
.s-following .follow-btn:hover input.is-hover[type=button].following-text,
.s-following .follow-btn:hover input[type=button].following-text:hover,
button.btn-fav.s-favorited:hover,
button.Button--primary.is-hover,
button.Button--primary:hover,
button.is-hover.btn-fav.s-favorited,
input.Button--primary.is-hover[type=button],
input.Button--primary[type=button]:hover,
input.is-hover[type=button].btn-fav.s-favorited,
input[type=button].btn-fav.s-favorited:hover {
    background-color: #005fd1;
    border-color: #005fd1;
    color: #fff
}

.Button.btn-fav.s-favorited:active,
.Button.Button--primary.is-active,
.Button.Button--primary:active,
.Button.is-active.btn-fav.s-favorited,
.ButtonGroup--primary>.Button.is-active,
.ButtonGroup--primary>.Button:active,
.ButtonGroup--primary>.ButtonGroup>.Button.is-active,
.ButtonGroup--primary>.ButtonGroup>.Button:active,
.ButtonGroup--primary>.ButtonGroup>button.is-active,
.ButtonGroup--primary>.ButtonGroup>button:active,
.ButtonGroup--primary>.ButtonGroup>input.is-active[type=button],
.ButtonGroup--primary>.ButtonGroup>input[type=button]:active,
.ButtonGroup--primary>button.is-active,
.ButtonGroup--primary>button:active,
.ButtonGroup--primary>input.is-active[type=button],
.ButtonGroup--primary>input[type=button]:active,
.s-following .follow-btn:hover .Button.following-text:active,
.s-following .follow-btn:hover .Button.is-active.following-text,
.s-following .follow-btn:hover button.following-text:active,
.s-following .follow-btn:hover button.is-active.following-text,
.s-following .follow-btn:hover input.is-active[type=button].following-text,
.s-following .follow-btn:hover input[type=button].following-text:active,
button.btn-fav.s-favorited:active,
button.Button--primary.is-active,
button.Button--primary:active,
button.is-active.btn-fav.s-favorited,
input.Button--primary.is-active[type=button],
input.Button--primary[type=button]:active,
input.is-active[type=button].btn-fav.s-favorited,
input[type=button].btn-fav.s-favorited:active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1da1f2;
    background-color: #005fd1;
    border-color: #005fd1;
    color: #fff
}

.Button.Button--primary.is-disabled,
.Button.Button--primary[disabled],
.Button.is-disabled.btn-fav.s-favorited,
.Button[disabled].btn-fav.s-favorited,
.ButtonGroup--primary>.Button.is-disabled,
.ButtonGroup--primary>.Button[disabled],
.ButtonGroup--primary>.ButtonGroup>.Button.is-disabled,
.ButtonGroup--primary>.ButtonGroup>.Button[disabled],
.ButtonGroup--primary>.ButtonGroup>button.is-disabled,
.ButtonGroup--primary>.ButtonGroup>button.is-disabled:focus,
.ButtonGroup--primary>.ButtonGroup>button[disabled],
.ButtonGroup--primary>.ButtonGroup>input.is-disabled[type=button],
.ButtonGroup--primary>.ButtonGroup>input[disabled][type=button],
.ButtonGroup--primary>.ButtonGroup>input[type=button].is-disabled:focus,
.ButtonGroup--primary>button.is-disabled,
.ButtonGroup--primary>button.is-disabled:focus,
.ButtonGroup--primary>button[disabled],
.ButtonGroup--primary>input.is-disabled[type=button],
.ButtonGroup--primary>input[disabled][type=button],
.ButtonGroup--primary>input[type=button].is-disabled:focus,
.follow-btn.is-disabled .ButtonGroup--primary>.ButtonGroup>button,
.follow-btn.is-disabled .ButtonGroup--primary>button,
.follow-btn.is-disabled .s-following .follow-btn:hover button.following-text,
.follow-btn.is-disabled button.btn-fav.s-favorited,
.follow-btn.is-disabled button.Button--primary,
.s-following .follow-btn:hover .Button.is-disabled.following-text,
.s-following .follow-btn:hover .Button[disabled].following-text,
.s-following .follow-btn:hover .follow-btn.is-disabled button.following-text,
.s-following .follow-btn:hover button.is-disabled.following-text,
.s-following .follow-btn:hover button.is-disabled.following-text:focus,
.s-following .follow-btn:hover button[disabled].following-text,
.s-following .follow-btn:hover fieldset[disabled] .Button.following-text,
.s-following .follow-btn:hover fieldset[disabled] button.following-text,
.s-following .follow-btn:hover fieldset[disabled] input[type=button].following-text,
.s-following .follow-btn:hover input.is-disabled[type=button].following-text,
.s-following .follow-btn:hover input[disabled][type=button].following-text,
.s-following .follow-btn:hover input[type=button].is-disabled.following-text:focus,
button.Button--primary.is-disabled,
button.Button--primary.is-disabled:focus,
button.Button--primary[disabled],
button.is-disabled.btn-fav.s-favorited,
button.is-disabled.btn-fav.s-favorited:focus,
button[disabled].btn-fav.s-favorited,
fieldset[disabled] .Button.btn-fav.s-favorited,
fieldset[disabled] .Button.Button--primary,
fieldset[disabled] .ButtonGroup--primary>.Button,
fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>.Button,
fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>button,
fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>input[type=button],
fieldset[disabled] .ButtonGroup--primary>button,
fieldset[disabled] .ButtonGroup--primary>input[type=button],
fieldset[disabled] .s-following .follow-btn:hover .Button.following-text,
fieldset[disabled] .s-following .follow-btn:hover button.following-text,
fieldset[disabled] .s-following .follow-btn:hover input[type=button].following-text,
fieldset[disabled] button.btn-fav.s-favorited,
fieldset[disabled] button.Button--primary,
fieldset[disabled] input.Button--primary[type=button],
fieldset[disabled] input[type=button].btn-fav.s-favorited,
input.Button--primary.is-disabled[type=button],
input.Button--primary[disabled][type=button],
input.Button--primary[type=button].is-disabled:focus,
input.is-disabled[type=button].btn-fav.s-favorited,
input[disabled][type=button].btn-fav.s-favorited,
input[type=button].is-disabled.btn-fav.s-favorited:focus {
    background-color: #1da1f2;
    border-color: #1da1f2;
    box-shadow: none
}

.tweet-button {
    width: 100%;
    height: 36px;
    font-size: 16px;
    line-height: 16px
}

.tweet-button .icon-compose,
.tweet-button .icon-compose-dm {
    display: none;
    font-size: 24px;
    margin-top: -3px;
    margin-left: -6px;
    vertical-align: -6px
}

.is-condensed .tweet-button .icon-compose,
.is-condensed .tweet-button .icon-compose-dm {
    display: inline-block;
    font-size: 20px;
    margin-top: 0;
    margin-left: 2px
}

.is-condensed .attach-compose-buttons {
    text-align: left
}

.is-condensed .attach-compose-buttons .tweet-button {
    width: 43px
}

.is-condensed .attach-compose-buttons .tweet-button .icon-compose,
.is-condensed .attach-compose-buttons .tweet-button .icon-compose-dm {
    margin: 0 0 0 9px
}

.attach-compose-buttons {
    margin-right: -15px
}

.attach-compose-buttons .tweet-button {
    background-color: #2b7bb9 !important;
    box-shadow: none;
    border: none !important;
    border-radius: 45px 0 0 45px
}

.margin-t--4,
.margin-ts {
    margin-top: 4px !important
}

.attach-compose-buttons .tweet-button:active,
.attach-compose-buttons .tweet-button:focus,
.attach-compose-buttons .tweet-button:hover {
    border: none !important;
    box-shadow: none !important
}

.attach-compose-buttons .tweet-button .icon-compose,
.attach-compose-buttons .tweet-button .icon-compose-dm {
    display: inline-block;
    margin-top: -2px;
    margin-left: -5px
}

.margin-b--8,
.margin-bm {
    margin-bottom: 8px !important
}

.is-hidden {
    display: none !important
}

.txt-left {
    text-align: left !important
}

.overlay,
.ovl,
.ovl-plain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300
}

.overlay,
.ovl {
    min-width: 320px;
    background: rgba(56, 68, 77, .9);
    text-align: center
}

.overlay:before,
.ovl-plain:before,
.ovl:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}

.overlay {
    display: block;
    position: fixed;
    z-index: 10
}

.app-search {
    position: relative
}

.app-search.has-overlay {
    z-index: 10
}

.app-search .app-search-fake,
.app-search .app-search-form {
    position: absolute
}

.is-condensed .app-search-input {
    width: 36px
}

.app-search-fake,
.app-search-input {
    height: 36px;
    background-color: #10171e;
    color: #e1e8ed;
    outline: none;
    word-break: normal
}

.app-search-fake {
    width: 100%;
    color: #1da1f2;
    border: 1px solid #1da1f2;
    background-color: transparent
}

.app-search-fake .icon,
.app-search-fake .Icon {
    margin: -6px -2px;
    font-size: 20px;
    vertical-align: 1px
}

.app-search-fake:hover {
    background-color: transparent
}

.icon-search:before {
    content: "\F058"
}

.padding-a--10,
.padding-al {
    padding: 10px !important
}

.full-width {
    width: 100% !important
}

.is-medium-columns .is-vishidden-medium,
.is-narrow-columns .is-vishidden-narrow,
.is-vishidden,
.is-wide-columns .is-vishidden-wide {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.search-input-control {
    position: relative
}

.search-input-control.has-value .search-input-perform-search {
    display: none
}

.search-input-control.has-value .search-input-clear-search,
.search-input-control.is-waiting-for-response .search-input-spinner {
    display: block
}

.search-input-control.is-waiting-for-response .search-input-clear-search,
.search-input-control.is-waiting-for-response .search-input-perform-search {
    display: none
}

.search-input-control input {
    padding-right: 25px
}

.search-input-control .icon,
.search-input-control .Icon {
    position: relative;
    top: -2px
}

.app-search-input {
    border: 1px solid #000
}

.app-search-input::-webkit-input-placeholder {
    color: #e1e8ed
}

.app-search-input:-ms-input-placeholder,
.app-search-input::-ms-input-placeholder {
    color: #e1e8ed
}

.app-search-input::placeholder {
    color: #e1e8ed
}

.txt-size--14 {
    font-size: 14px !important
}

.spinner-small {
    height: 16px;
    width: 16px;
    background: transparent url("https://ton.twimg.com/tweetdeck-web/web/assets/global/backgrounds/spinner_small_light.26d3dcb5e3.gif") no-repeat 50% 50%
}

.is-inverted-dark .spinner-small,
.spinner-small-trans {
    background: transparent url("https://ton.twimg.com/tweetdeck-web/web/assets/global/backgrounds/spinner_small_trans.534133ddb4.gif") no-repeat 50% 50%
}

.search-input-clear-search,
.search-input-perform-search,
.search-input-spinner {
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -8px;
    color: #aab8c2
}

.search-input-clear-search:hover,
.search-input-perform-search:hover,
.search-input-spinner:hover {
    color: #aab8c2
}

.search-input-spinner {
    right: 6px;
    top: 14px
}

.search-input-clear-search,
.search-input-spinner {
    display: none
}

.margin-t--6 {
    margin-top: 6px !important
}

.scroll-v {
    overflow-y: auto
}

.scroll-styled-h,
.scroll-styled-v {
    -ms-scrollbar-face-color: #e1e8ed;
    scrollbar-face-color: #e1e8ed;
    -ms-scrollbar-highlight-color: #e1e8ed;
    scrollbar-highlight-color: #e1e8ed;
    -ms-scrollbar-shadow-color: #e1e8ed;
    scrollbar-shadow-color: #e1e8ed;
    -ms-scrollbar-darkshadow-color: #e1e8ed;
    scrollbar-darkshadow-color: #e1e8ed;
    -ms-scrollbar-track-color: #f5f8fa;
    scrollbar-track-color: #f5f8fa;
    -ms-scrollbar-3dlight-color: #e1e8ed;
    scrollbar-3dlight-color: #e1e8ed;
    -ms-scrollbar-arrow-color: #38444d;
    scrollbar-arrow-color: #38444d
}

.scroll-styled-v::-webkit-scrollbar {
    width: 10px
}

.scroll-styled-h::-webkit-scrollbar {
    height: 11px
}

.scroll-styled-h::-webkit-scrollbar-track,
.scroll-styled-v::-webkit-scrollbar-track {
    border-left: 1px solid #e1e8ed
}

.scroll-styled-h::-webkit-scrollbar-thumb,
.scroll-styled-v::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e1e8ed
}

.scroll-styled-h::-webkit-scrollbar-thumb:hover,
.scroll-styled-v::-webkit-scrollbar-thumb:hover {
    background-color: #8899a6
}

.scroll-styled-v::-webkit-scrollbar-thumb {
    min-height: 50px
}

.is-actionable {
    cursor: pointer
}

.is-actionable:hover .stat-word {
    color: #1da1f2
}

.color-twitter-blue {
    color: #1da1f2
}

.pull-right {
    float: right
}

.margin-r--12 {
    margin-right: 12px !important
}

.padding-t--2,
.padding-txs {
    padding-top: 2px !important
}

.list-divider {
    border-top: 1px solid rgba(20, 23, 26, .25)
}

.height-vh--100 {
    height: 100vh
}

.user-results {
    height: calc(100% - 76px)
}

.column-navigator {
    counter-reset: column-nav;
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 199px
}

.antiscroll-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll
}

.antiscroll-inner::-webkit-scrollbar {
    width: 0;
    height: 0
}

.antiscroll-inner::scrollbar {
    width: 0;
    height: 0
}

.column-nav-item {
    position: relative;
    height: 42px;
    box-sizing: border-box;
    counter-increment: column-nav;
    color: #aab8c2;
    background-color: #1c2938
}

.is-new .column-type-icon {
    color: #1da1f2
}

.is-new .column-nav-updates {
    visibility: visible;
    opacity: 1
}

.icon-xsmall {
    font-size: 8px
}

.icon-dot:before {
    content: "\F032"
}

.column-nav-updates {
    position: absolute;
    top: 3px;
    right: 6px;
    color: #1da1f2;
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s linear
}

.link-clean,
.link-clean:active,
.link-clean:focus,
.link-clean:hover {
    text-decoration: none
}

.cf {
    display: block
}

.cf:after,
.cf:before {
    display: block;
    content: " "
}

.cf:after {
    clear: both
}

.padding-h--10,
.padding-hl {
    padding-left: 10px !important;
    padding-right: 10px !important
}

.column-nav-link {
    position: relative;
    height: 100%;
    color: #aab8c2;
    cursor: pointer
}

.column-nav-link:active,
.column-nav-link:focus {
    outline: none;
    color: #aab8c2
}

.column-nav-link.is-selected,
.column-nav-link:hover {
    color: #fff
}



.column-nav-link:after {
    content: counter(column-nav);
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 12px;
    color: #8899a6
}

.column-nav-link .icon,
.column-nav-link .Icon {
    padding-left: 1px
}

.column-nav-link .attribution {
    display: block;
    line-height: 1;
    font-size: 12px;
    color: #8899a6
}

.column-nav-link .column-heading {
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-right: 20px;
    color: #fff
}

.txt-size--16 {
    font-size: 16px !important
}

.obj-left,
.pull-left {
    float: left
}

.obj-left {
    margin-right: 10px
}

.icon,
.Icon {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    height: 1em;
    width: 1em
}

.Icon {
    font-size: 1em
}

.Icon:before,
.icon:before {
    font-family: tweetdeckregular;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-home:before {
    content: "\F053"
}

.icon-large {
    font-size: 26px;
    height: 26px;
    width: 26px
}

.position-rel {
    position: relative
}

.txt-mute,
.txt-mute-text-only,
.txt-mute a:not(:hover):not(:focus) {
    color: #8899a6
}

.txt-sub-antialiased {
    -webkit-font-smoothing: subpixel-antialiased
}

.txt-ellipsis {
    max-width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.vertical-align--baseline {
    vertical-align: baseline
}

.padding-h--10,
.padding-hl {
    padding-left: 10px !important;
    padding-right: 10px !important
}

.Icon--notifications:before,
.icon-notifications:before {
    content: "\F055"
}

.nbfc {
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word
}

.txt-sub-antialiased {
    -webkit-font-smoothing: subpixel-antialiased
}

.txt-ellipsis {
    max-width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.vertical-align--baseline {
    vertical-align: baseline
}

.icon-message:before {
    content: "\F054"
}

.numbered-badge {
    position: absolute;
    top: 9px;
    right: -7px;
    font-style: normal;
    font-size: 10px;
    padding: 4px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    border-radius: 14px;
    text-align: center;
    min-width: 10px;
    height: 10px
}

.bg-color-twitter-blue {
    background-color: #1da1f2
}

.numbered-badge-onnav {
    top: 1px;
    right: -5px;
    border: 2px solid #1c2938;
    visibility: hidden
}

.anim {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s
}

.anim-slower {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.column-header,
.column-header .column-heading {
    max-height: 50px
}

.icon-trending:before {
    content: "\F718"
}

.app-nav-link {
    font-size: 18px;
    color: #1da1f2;
    cursor: pointer
}

.app-nav-link-text {
    color: #fff
}

.app-nav-link:active,
.app-nav-link:focus {
    outline: none;
    color: #1da1f2
}

.app-nav-link.is-selected,
.app-nav-link:hover {
    color: #97e3ff
}

.app-nav-link .icon-arrow-r-double {
    display: none
}

.app-nav-link .icon,
.app-nav-link .Icon {
    padding-left: 1px
}

.margin-t--8,
.margin-tm {
    margin-top: 8px !important
}

.with-nav-border-t:before {
    position: relative;
    top: -5px;
    border-top: 1px solid #8899a6
}

.margin-l--2 {
    margin-left: 2px !important
}


.icon-medium {
    font-size: 24px
}

.icon-plus:before {
    content: "\F183"
}

.padding-t--4,
.padding-ts {
    padding-top: 4px !important
}

.app-navigator {
    position: absolute;
    bottom: 97px;
    left: 0;
    right: 0;
    background-color: #1c2938
}

.with-nav-border-t:before {
    position: relative;
    top: -5px;
    border-top: 1px solid #8899a6
}

.icon-arrow-l-double:before {
    content: "\F191"
}

.icon-arrow-r-double:before {
    content: "\F192"
}

.app-nav-tab {
    font-size: 18px;
    color: #1da1f2;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 10px;
    margin-left: 6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.app-nav-tab:hover {
    color: #97e3ff
}

.app-nav-tab-text {
    color: #fff
}

.app-nav-tab.is-selected:hover {
    color: #1da1f2
}

.app-nav-tab.is-selected .app-nav-tab-text {
    color: #38444d
}

.app-nav-tab .icon,
.app-nav-tab .Icon {
    padding-left: 1px
}

.icon-user-switch:before,
.icon-user-team-mgr:before {
    content: "\F178"
}

.bg-color-twitter-lightest-gray {
    background-color: #f5f8fa
}

button.btn-on-dark.is-selected,
button.btn-on-dark:active,
button.btn-on-dark:focus,
button.btn-on-dark:hover,
input[type=button].btn-on-dark.is-selected,
input[type=button].btn-on-dark:active,
input[type=button].btn-on-dark:focus,
input[type=button].btn-on-dark:hover {
    background-color: #eaf5fd
}

.icon-settings:before {
    content: "\F059"
}

.js-account-invited-accounts {
    position: relative;
    top: -1px
}

.nav-user-info {
    position: absolute;
    height: 36px;
    bottom: 65px;
    left: 0;
    right: 0
}

.nav-user-info .username {
    color: #8899a6;
    font-size: 12px
}

.nav-user-info .fullname {
    color: #fff;
    font-size: 16px
}

.margin-r--6 {
    margin-right: 6px !important
}

.tweet-avatar {
    z-index: 1
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%
}

.avatar.size14 {
    width: 14px;
    height: 14px
}

.avatar.size16 {
    width: 16px;
    height: 16px
}

.avatar.size18 {
    width: 18px;
    height: 18px
}

.avatar.size24 {
    width: 24px;
    height: 24px
}

.avatar.size30 {
    width: 30px;
    height: 30px
}

.avatar.size32 {
    width: 32px;
    height: 32px
}

.avatar.size36 {
    width: 36px;
    height: 36px
}

.avatar.size48 {
    width: 48px;
    height: 48px
}

.avatar.size64 {
    width: 64px;
    height: 64px
}

.avatar.size73 {
    width: 73px;
    height: 73px
}

.margin-h--6 {
    margin-left: 6px !important;
    margin-right: 6px !important
}

.margin-t--2,
.margin-txs {
    margin-top: 2px !important
}

.inline-block {
    display: inline-block !important
}

.txt-bold {
    font-weight: 700
}

.txt-size--12 {
    font-size: 12px !important
}

.height--53 {
    height: 53px
}

.flex {
    display: flex
}

.flex-align--center {
    align-items: center
}

.flex-justify-content--center {
    justify-content: center
}

.tweetdeck-logo {
    background: url(https://ton.twimg.com/tweetdeck-web/web/assets/global/tweetdeck.6fd2a0c343.svg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat
}

.height--24 {
    height: 24px
}

.width--26 {
    width: 26px
}

.color-transparent {
    color: transparent !important
}

.txt-size--0 {
    font-size: 0
}

.margin-l--12 {
    margin-left: 12px !important
}

.app-title {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c2938
}

.app-title .sprite-logo {
    left: 35px
}

.app-title .sprite-logo-badge {
    opacity: 0;
    top: 4px;
    left: 7px
}

.flex-column {
    flex-direction: column
}

.flex-justify-content--space-between {
    justify-content: space-between
}

.beta {
    background-image: url(https://ton.twimg.com/tweetdeck-web/web/assets/global/tweetdeck-beta.1244675790.svg)
}

.color-twitter-white {
    color: #fff
}

.txt-size--10 {
    font-size: 10px !important
}

.txt-uppercase {
    text-transform: uppercase
}

.txt-weight-normal {
    font-weight: 400
}

.letter-spacing--3 {
    letter-spacing: 3px
}

.padding-v--2,
.padding-vxs {
    padding-top: 2px !important;
    padding-bottom: 2px !important
}

.position-abs {
    position: absolute
}

.width--88 {
    width: 88px
}

.margin-a---10 {
    margin: -10px !important
}

.txt-line-height--14 {
    line-height: 14px
}

.beta-ribbon {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    right: -12px;
    bottom: 16px
}

.pin-all {
    top: 0;
    bottom: 0;
    left: 0
}

.application:not(.is-condensed) .compose-title {
    margin-top: 10px
}

.DateRangeDropdownTarget .Icon,
.icon-small {
    font-size: 14px
}

.Icon--close:before,
.icon-close:before {
    content: "\F045"
}