<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Page Title :: Site Tilte</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="style.css" rel="stylesheet" />  
  <link href="page-style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Layout Tilte</h1>
  </header>
  <section>
        <p>Page Content</p>
    </section>
  <footer>
    <p>Layout Footer</p>
  </footer>
<script src="common-script.js"></script>
<script>
    console.log('script for page');
</script>
</body>
</html>