<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/Login.css}">
<title>API Demo - Kakao JavaScript SDK</title>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<script type='text/javascript'>
//<![CDATA[
	
	



$(document).ready(function() {
	  
		
	$("#kakaoLogin").append(function(){});
		
	
		Kakao.init('4dfdf92f4cf88310e0018f29e0ec6f36');
		//Kakao.init('3d86cbdd303358a747f0c249c358c865');
		Kakao.Auth.createLoginButton({
			  container: '#kakao-login-btn',
			  success: function(authObj) {
			   //alert(JSON.stringify(authObj));
				//self.location = "https://kauth.kakao.com/oauth/authorize?client_id=04508ced113435af63e4b06ce58d2f20&redirect_uri=http://123.212.109.70:9999/kakaoLogin&response_type=code";
				//self.location = "https://kauth.kakao.com/oauth/authorize?client_id=b022483ace315594a982fb6e530a049e&redirect_uri=http://alterlife.xyz/kakaoLogin&response_type=code";
				$("#accessToken").val(authObj.access_token);
				alert($("#accessToken").val());
				$("#tokenForm").submit();
				
			  },
			  fail: function(err) {
			     alert(JSON.stringify(err));
			  }
			});
		 $('#kakaoLogin').after($('#kakao-login-btn'));
		
		
});
	
	
	
//]]>
</script>
</head>
<body>
<a id="kakao-login-btn"></a>


<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check">

      </div>
      <div class="login__form">
      
      <div id='kakaoLogin'></div>




     <div>
     
     
     
<form id = "tokenForm" method="post">
 <input id="accessToken" type="hidden" name="username" />
 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
  
     </div>


  
     
     
     
     
     </div>
        
        </div>
    </div>

  </div>

</body>
</html>